[Unit]
Description=Timer that triggers that triggers check network available service

[Timer]
OnBootSec=5m
OnUnitActiveSec=1m
unit=ngulia-check-network.service

[Install]
WantedBy=timers.target