[Unit]
Description=Timer that triggers that triggers check network available service

[Timer]
OnBootSec=10m
OnUnitActiveSec=2m
unit=ngulia-check-network.service

[Install]
WantedBy=timers.target