# system Daemon file
[Unit]
Description=Display spinner on screen

[Service]
#Environment=DISPLAY=:0
#Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /home/pi/spinner.sh


[Install]
WantedBy=graphical.target
