# user systemd file
# This file should be located in ~/.config/systemd/user/ngulia-spinner.service
[Unit]
Description=Display network spinner on screen

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/spinner.sh

[Install]
WantedBy=graphical.target
